<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<test thread-count="5" name="About Compete">
		<classes>
			<class name="pageLayoutTests.AboutCompete" />
			<class name="pageLayoutTests.PointOfSale_MainPage" />
			<class name="frontDeskTests.Agreements" />
			<class name="frontDeskTests.Bookings" />
			<class name="frontDeskTests.ChangePassword" />
			<class name="frontDeskTests.CheckIn" />
			<class name="frontDeskTests.ClassEnrollment" />
			<class name="frontDeskTests.Login" />
			<class name="frontDeskTests.MemberMgmt" />
			<class name="frontDeskTests.Reports" />
			<class name="frontDeskTests.TimeClock" />
			<class name = "FunctionalityTests.CheckIn" />
			<!-- class name = "FunctionalityTests.EnrollInClass"/-->
			<!-- class name = "FunctionalityTests.BookAppointment"/-->
			<class name = "FunctionalityTests.PointOfSale_Misc"/>
			<class name = "FunctionalityTests.PurchaseInventoryItems"/>
		</classes>
	</test>
</suite>
